@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --dark: #1C1C1C;
  --primary: #0282F9;
  --grey: #303030;
  --light: #FFFFFF;
}

li {
  list-style: none;
}

header {
  padding: 1rem 4rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--light);

    .logo {
      width: 50px;
    }
  
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 500;
      font-family: "Big Shoulders", sans-serif;

      a {
        text-decoration: none;
        color: var(--grey);
      }
    }
}


main {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

    .container-jumbotron {
      background-image: url("/img/jumbotron.jpg");
      background-size: cover;
      height: 300px;
      width: 100%;
      position: relative;
    }

    .container-cards {
      display: flex;
      justify-content: center;
      padding-top: 3rem;
    }

    .cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem;
      width: 70%;
      padding: 16px;

        .cardsCard {
          width: calc(100% / 6 - 1rem);
          align-items: center;

            .comic-card-image {
              width: 100%;
              height: 150px;
              object-fit: cover;
            }
        }
    }
    
    .comic-card-title {
      font-size: 0.75rem;
      margin: 8px 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .series-btn {
      background-color: var(--primary);
      color: var(--light);
      border-style: none;
      padding: 1rem 4rem 1rem;
      font-family: "Big Shoulders", sans-serif;
      font-size: 1.75rem;
      font-weight: 800;
      margin-bottom: 1.5rem;
      position: absolute;
      left: 14rem;
      top: 22rem;
    }

    .load-btn {
      background-color: var(--primary);
      color: var(--light);
      border-style: none;
      padding: 1rem 4rem 1rem;
      font-family: "Big Shoulders", sans-serif;
      font-size: 1rem;
      font-weight: 800;
      margin-bottom: 2rem;
      cursor: pointer;
      &:hover {
        background-color: var(--grey)
      }
    }

}

.footer-up {
  background-color: var(--primary);
  min-height: 170px;
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        .middle-img {
          width: 50px;
        }
    }
}

.footer-middle {
  background-image: url('/img/footer-bg.jpg');
  min-height: 400px;
  display: flex;
  line-height: 1.5rem;
  padding-bottom: 3rem;
  font-size: 0.9rem;
  padding-left: 6rem;
  position: relative;
  z-index: 1;
  
  ul {
    margin-left: 2.5rem;
    padding-top: 2.5rem;
    font-family: "Big Shoulders", sans-serif;
  }

  h3 {
    color: var(--light);
  }

  li {
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .logo-bg {
    position: absolute;
    right: 200px;
    top: -50px;
    width: 500px;
    z-index: -1;
  }
}


.footer-bottom {
  background-color: var(--grey);
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Big Shoulders", sans-serif;
  position: relative;
  z-index: 2;

    .btn-section {
      display: flex;
      padding-left: 8.5rem;
      
      .btn {
        font-family: "Big Shoulders", sans-serif;
        background-color: transparent;
        color: var(--light);
        border-color: var(--primary);
        padding: 0.75rem;
        border-width: 2px;
        border-radius: 0;
      }
    }

    .social-section {
      display: flex;
      align-items: center;
      padding-right: 8.5rem;
      gap: 1rem;
      margin-bottom: 0;

      h3 {
        color: var(--primary);
      }
    }
}